<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notes - Nova anotação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="ion-align-self-start">
      <ion-item-divider> </ion-item-divider>

      <ion-item>
        <ion-label position="floating">Título</ion-label>
        <ion-input
          placeholder="Caso deseje insira um título"
          [(ngModel)]="titulo"
        ></ion-input>
      </ion-item>

      <ion-item-divider> </ion-item-divider>

      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-textarea
          placeholder="Insira seu texto aqui"
          rows="18"
          [(ngModel)]="texto"
        ></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button color="primary" (click)="Inicio()"
        ><ion-icon name="chevron-back-outline" slot="start"></ion-icon
        >Retornar</ion-button
      >
    </ion-col>
    <ion-col> </ion-col>
    <ion-col>
      <ion-button color="primary" (click)="Salvar()"
        ><ion-icon name="add-outline" slot="start"></ion-icon>Salvar</ion-button
      >
    </ion-col>
  </ion-row>
</ion-footer>