<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list *ngFor="let pages of navigate">
          <ion-menu-toggle auto-hide="true">
            <ion-item [routerLink]="pages.url" routerDirection="forward">
                <ion-icon [name]="pages.icon" slot="start"></ion-icon>
                   {{ pages.title }} 
            </ion-item>
          </ion-menu-toggle>
          </ion-list>
      </ion-content>
    </ion-menu>
<ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
