<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notes - Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <h2>Opções do APP</h2>
    </ion-item>

    <ion-col>
      <ion-item>
        <ion-button (click)="AlertaDB()" padding>
          Resetar banco de dados
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-list>

  <ion-col>
    <ion-list>
      <ion-item>
        <h2>Sobre</h2>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-wrap">
          Um simples projeto criado em ionic visando o aprendizado.
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <h2>Links</h2>
      </ion-item>

      <ion-item href="https://github.com/kurxz/ionic_notes/">
        <ion-label> Código no Github </ion-label>
      </ion-item>

      <ion-item href="https://www.ionicframework.com">
        <ion-label> Ionic Framework </ion-label>
      </ion-item>
    </ion-list>
  </ion-col>
</ion-content>
