#container {
  text-align: center;
  left: 0;
  right: 0;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.checkboxStyle {
  display: flex;
  align-items: center;
}

ion-card {
  max-height: 200px;
  display: flex;
  flex-direction: column;
}

.noNotes {
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

ion-searchbar{
  --background: var(--ion-color-light) !important;
  --border-radius: 100px !important;
 
}